#include "../Config.xcconfig"

USER_HEADER_SEARCH_PATHS = $(BASE_USER_HEADER_SEARCH_PATHS)
HEADER_SEARCH_PATHS = $(BASE_HEADER_SEARCH_PATHS) ../../../Common "$(CINDER_PATH)/blocks/FMOD/include"

LIBRARY_SEARCH_PATHS = $(BASE_LIBRARY_SEARCH_PATHS) "$(CINDER_PATH)/blocks/FMOD/lib/ios"
TARGET_OTHER_LDFLAGS = $(BASE_OTHER_LDFLAGS)

TARGET_GCC_PREPROCESSOR_DEFINITIONS = $(BASE_GCC_PREPROCESSOR_DEFINITIONS) TARGET1=1

//

GCC_PREFIX_HEADER = Target1/Prefix.pch
INFOPLIST_FILE = Target1/Info.plist
PRODUCT_NAME = TestBed2-Target1

CODE_SIGN_IDENTITY = iPhone Developer
PROVISIONING_PROFILE =
