#include "Config.xcconfig"

ONLY_ACTIVE_ARCH = NO
COPY_PHASE_STRIP = NO
VALIDATE_PRODUCT = NO

GCC_OPTIMIZATION_LEVEL = 3
OTHER_CFLAGS = -DNS_BLOCK_ASSERTIONS=1

OTHER_LDFLAGS[sdk=iphonesimulator*][arch=*] = $(BASE_OTHER_LDFLAGS) "$(CINDER_PATH)/lib/libcinder-iphone-sim.a" "$(CINDER_PATH)/blocks/FMOD/lib/ios/libfmod_iphonesimulator.a"
OTHER_LDFLAGS[sdk=iphoneos*][arch=*] = $(BASE_OTHER_LDFLAGS) "$(CINDER_PATH)/lib/libcinder-iphone.a" "$(CINDER_PATH)/blocks/FMOD/lib/ios/libfmod_iphoneos.a"
