#include "Config.xcconfig"

ONLY_ACTIVE_ARCH = NO
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = YES

GCC_OPTIMIZATION_LEVEL = 3
GCC_GENERATE_DEBUGGING_SYMBOLS = NO
GCC_FAST_MATH = YES

OTHER_LDFLAGS = $(BASE_OTHER_LDFLAGS) "$(CINDER_PATH)/lib/libcinder.a"

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
