ARCHS = $(ARCHS_STANDARD_64_BIT)
SDKROOT = macosx
MACOSX_DEPLOYMENT_TARGET = 10.7
CLANG_CXX_LANGUAGE_STANDARD = c++0x
CLANG_CXX_LIBRARY = libc++

GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES

GCC_OBJC_CALL_CXX_CDTORS = YES
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_DEBUGGING_SYMBOLS = full
DEAD_CODE_STRIPPING = YES

//

CINDER_PATH = $(CINDER_PATH_CHR)

ALWAYS_SEARCH_USER_PATHS = YES
USER_HEADER_SEARCH_PATHS = "$(CINDER_PATH)/boost" "$(CINDER_PATH)/blocks/new-chronotext-toolkit/src"
HEADER_SEARCH_PATHS = ../include ../../../Common "$(CINDER_PATH)/include" "$(CINDER_PATH)/src/libtess2" "$(CINDER_PATH)/blocks/POCO/include" "$(CINDER_PATH)/blocks/FMOD/include"

LIBRARY_SEARCH_PATHS = "$(CINDER_PATH)/blocks/POCO/lib/macosx" "$(CINDER_PATH)/blocks/FMOD/lib/macosx"
BASE_OTHER_LDFLAGS = -lz -lPocoFoundation -lPocoZip -lPocoData -lPocoDataSQLite -lPocoNet -lPocoUtil -lPocoCrypto -lPocoNetSSL -lcrypto -lssl

BASE_GCC_PREPROCESSOR_DEFINITIONS = TARGET1=1 TARGET2=1

//

PRODUCT_NAME = TestBed2
INFOPLIST_FILE = Info.plist
GCC_PREFIX_HEADER = Prefix.pch
